# Question 1
Consider the following Python module:
a = 0

def b():
    global a
    a = c(a)
def c(a):
    return a + 2
 
After importing the module into the interpreter, you execute:
 
 b()
 b()
 b()
 a

#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b() #1
b() #2
b() #3
a   #4

6

### Explanation
Step 1: When first b() is call a is declared global variable which means a = 0 is accessible by all the functions in the program . Next assigning a = c(a) will call the function c(a) and stores the value a + 2 in a. thus the value of a now becomes 2, i.e a = 2.

Step 2: again when b() is called varaible a with value = 2 is declared as global. Next c(a) will be called and will store a+2 inside a. This will update the value of a as 4, i.e a = 4.

Step 3: same happens again, this time value of a becomes a = a+2 = 4+2 = 6.

Step 4: a is called which will print the value asscoited with it,i.e 6.

Hence, 6 will be printed.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
> fileLength('midterm.py')
284
> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>

> fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename)
    
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
    
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
> fileLength('midterm.py')
358
    
> fileLength('idterm.py')
File idterm.py not found.

In [2]:
def fileLength(file_name):
    try:                                           
        open_file=open(file_name)
        data=open_file.read()
        length=len(data)
        open_file.close()
        return length
    except IOError:                                  
        print(f'File {file_name} not found.')

In [4]:
fileLength("Filelength.txt")

123

In [5]:
fileLength("kartik.txt")

File kartik.txt not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
class Marsupial:
    
    def __init__(self):
        self.list_items = []
    
    def put_in_pouch(self,item):
        self.list_items.append(item)
        
    def pouch_contents(self):
        return self.list_items

In [7]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

### 3b
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

k = Kangaroo(0,0)

print(k)

I am a Kangaroo located at coordinates (0,0)

> k.put_in_pouch('doll') 

>k.put_in_pouch('firetruck')

> k.put_in_pouch('kitten')

> k.pouch_contents() 

['doll', 'firetruck', 'kitten']

> k.jump(1,0)

> k.jump(1,0)

> k.jump(1,0)

> print(k)

I am a Kangaroo located at coordinates (3,0)

In [13]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x}, {self.y})'

In [14]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛,

     3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 }
     
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops

> collatz(1)

1

> collatz(10)

10
5
16
8
4
2
1

In [20]:
def collatz(x):
    print(int(x))
    if x==1 or x==0:
        return 
    else:
        if x%2==0:
            x = x/2
            collatz(x)
        else:
            x = 3*x + 1
            collatz(x)

In [21]:
collatz(1)

1

In [22]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

> binary(0)

0

> binary(1)

1

> binary(3)

11

> binary(9)

1001

In [27]:
def binary(n):
    if n==0:
        return 0
    else:
        return ((10*binary(int(n/2))) + (n%2))

In [28]:
binary(0)

0

In [29]:
binary(1)

1

In [30]:
binary(3)

11

In [31]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

> infile = open('w3c.html')

> content = infile.read()

> infile.close()

> hp = HeadingParser()

> hp.feed(content)

W3C Mission
Principles

In [2]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'] # h1,h2--h6 are the heading types in HTML
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.headers:         
            HeadingParser.current = HeadingParser.headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [3]:
file = open("w3c.html",'r') # initially the file given was in txt format, so changed file type to html format
data = file.read()
file.close()
a = HeadingParser()
a.feed(data)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
    
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
        
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
    
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Question 8

In [1]:
import sqlite3
database = sqlite3.connect('ps02.db')
current = database.cursor()


current.execute("CREATE TABLE if not exists seasons (City str ,Country str, Season str, Temperature float, Rainfall float)")
current.execute("""
    INSERT INTO seasons VALUES 
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
    """)

database.commit()


database.close()

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///ps02.db

### Q8.a)
All the temperature data.

In [4]:
%%sql

Select Temperature from seasons

 * sqlite:///ps02.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### Q8.b)
All the cities, but without repetition.

In [5]:
%%sql
Select distinct City from seasons

 * sqlite:///ps02.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### Q8.c)
All the records for India.

In [6]:
%%sql
Select * from seasons where Country == "India"

 * sqlite:///ps02.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### Q8.d) 
All the Fall records.

In [7]:
%%sql
Select * from seasons where Season == "Fall"

 * sqlite:///ps02.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### Q8.e)
The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [8]:
%%sql
Select City, Country, Season from seasons where Rainfall between 200 and 400

 * sqlite:///ps02.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### Q8.f)
The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [9]:
%%sql
Select City, Country from seasons where Season == 'Fall' and  Temperature > 20 order by Temperature

 * sqlite:///ps02.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

### Q8.g) 
The total annual rainfall for Cairo.

In [10]:
%%sql
Select Sum(Rainfall) from seasons where City == "Cairo"

 * sqlite:///ps02.db
Done.

[(27.6,)]

### Q8.h)
The total rainfall for each season.

In [11]:
%%sql
Select Season, round(sum(Rainfall),2) from seasons group by Season

 * sqlite:///ps02.db
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following 
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Q9.a )

In [13]:
a = [char.upper() for char in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### Q9.b )

In [14]:
a = [char.lower() for char in words]
a

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Q9.c )

In [15]:
length_list = [len(char) for char in words]
length_list

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### Q9.d )

In [16]:
n = [[char.upper(), char.lower(), len(char)] for char in words]
n

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### Q9.e )

In [17]:
l = [char for char in words if len(char) >= 4]
l

['quick', 'brown', 'jumps', 'over', 'lazy']